.todos-container {
  width: 95%;
  max-width: 40rem;
  margin: 1rem auto;
  padding-bottom: 0.1rem;
  background-color: var(--d-200);
  border-radius: var(--border-radius-10);
  box-shadow: var(--box-shadow);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 0.2rem;
  margin: 0;
}

nav ul li {
  box-shadow: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0.8rem 0 0.2rem;
}

nav a {
  width: 100%;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
}
a:active,
a:visited {
  color: var(--primary-color);
}

.active-link-overdue {
  background-color: var(--overdue-todos-heading);
}

.active-link-active {
  background-color: var(--active-todos-heading);
}

.active-link-finished {
  background-color: var(--finished-todos-heading);
}

.active-link-overdue::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.6rem;
  bottom: -0.3rem;
  background-color: var(--overdue-todos-heading);
}

.active-link-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.6rem;
  bottom: -0.3rem;
  background-color: var(--active-todos-heading);
}

.active-link-finished::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.6rem;
  bottom: -0.3rem;
  background-color: var(--finished-todos-heading);
}

@media (max-width: 400px) {
  nav ul {
    gap: 5px;
  }
}
