.todos-layout {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
  padding-bottom: 0.1rem;
  background-color: var(--d-200);
  border-radius: var(--border-radius-10);
  text-align: center;
}

h2 {
  padding: 1rem 0;
  background-color: var(--d-300);
  color: var(--secondary-color);
  border-top-left-radius: var(--border-radius-10);
  border-top-right-radius: var(--border-radius-10);
}

.active-layout-heading {
  background-color: var(--active-todos-heading);
}

.finished-layout-heading {
  background-color: var(--finished-todos-heading);
}

.drag-target-active {
  border: 2px solid white;
  background-color: var(--d-300);
}

.todos-layout p {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--d-200);
  border-radius: 6px;
}

.droppable {
  border: 2px solid white;
  background-color: var(--d-300);
}
