.grid-col7 {
  max-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1rem;
  justify-items: center;
  align-items: center;
  row-gap: 0.1rem;
}

.month {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  margin-bottom: 1rem;
  justify-items: center;
  align-items: center;
  padding: 0 1.8rem;
}

.month .month__btn {
  padding: 0.2rem 0.4rem;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  color: var(--p3);
}

.month .month__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--d-300);
}

.month .month__btn:disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}

.month .month__btn:disabled:hover {
  cursor: not-allowed;
  background-color: transparent;
  transform: none;
}

.month__name {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary-color);
}

.days-week {
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.day {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.day:hover {
  background-color: var(--interactive-color-active);
}

.day-todo::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--active-todos-heading);
  border-radius: 50%;
  position: absolute;
  top: 27px;
}

.today {
  border: 1px solid var(--interactive-color-hover);
  border-radius: var(--border-radius-10);
  background-color: transparent;
}

.day-selected {
  background-color: var(--interactive-color-active);
}

.day-disabled {
  color: var(--disabled-color);
  border-radius: 15px;
  background-color: gray;
  pointer-events: none;
}

.show-add-todo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 0 0;
}

.show-add-todo > button {
  width: 90px;
  height: 45px;
  position: relative;

  border-radius: 25px;
  color: black;
  font-size: 2rem;
  border: 1px var(--interactive-color-active);
}

.show-add-todo > button::after {
  content: attr(data-tooltip);
  position: absolute;
  font-size: 1.2rem;
  color: var(--interactive-color);

  width: fit-content;
  top: -20%;
  left: 6%;
  transform: scale(0.5);
  opacity: 0;
  transition-property: transform opacity top;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.show-add-todo > button:hover {
  cursor: pointer;
}

.show-add-todo > button:hover::after {
  transform: scale(1);
  opacity: 1;
  top: -60%;
}

.new-todo-enter {
  opacity: 0;
  transform: scale(0.4);
  position: relative;
}

.new-todo-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms ease-out;
}

.new-todo-exit {
  opacity: 1;
  transform: scale(1);
  top: 0;
}

.new-todo-exit-active {
  top: -10px;
  opacity: 0;
  transform: scale(0.4);
  transition: opacity 300ms, transform 300ms, top 300ms;
}
