form {
  width: 100%;
  max-width: 40rem;
  margin: 0rem auto;
  background-color: var(--d-200);
  border-radius: var(--border-radius-10);
  padding: 1.5rem 2rem;
  position: relative;
}

input,
select {
  background-color: var(--d-100);
  color: var(--primary-color);
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--d-400);
  transition: all 0.2s ease-in;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--interactive-color-hover);
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

#todo-text {
  grid-column: 1 / -1;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.4rem;
}

.actions button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: var(--border-radius-10);
}

.add__btn {
  background-color: var(--interactive-color);
  border: 1px solid var(--interactive-color);
  color: var(--primary-color);
}

.add__btn:hover {
  background-color: var(--interactive-color-hover);
  border-color: transparent;
}

.add__btn:focus,
.add__btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--interactive-color-hover);
}

.cancel__btn {
  background-color: transparent;
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

.cancel__btn:hover {
  background-color: var(--error-color);
  border-color: transparent;
  color: var(--d-200);
}

.cancel__btn:focus,
.cancel__btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--error-color);
}

@media (max-width: 450px) {
  button {
    width: 100%;
  }

  form {
    padding: 1rem 0;
  }

  form > div {
    grid-template-columns: 1fr;
  }
}
