ul {
  list-style: none;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0;
  border-radius: var(--border-radius-10);
  position: relative;
}

.draggable {
  cursor: move;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: var(--d-200);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li .todo-primary-info,
.todo-secondary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li .todo-primary-info div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

li .todo-secondary-info {
  font-size: 0.7rem;
  font-weight: bold;
  color: bisque;
  padding-left: 1.5rem;
}

li span {
  margin-right: 0.5rem;
}

/* STYLE FOR TODO BUTTONS: EDIT AND DELETE */

li .edit__btn,
li .delete__btn {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  position: relative;
}

.edit__btn {
  border: 1px solid var(--p3);
  background-color: var(--d-200);
  color: var(--p3);
}

.edit__btn:hover {
  background-color: var(--p3-hover);
  color: var(--d-200);
}

.delete__btn {
  border: 1px solid var(--error-color);
  background-color: var(--d-200);
  color: var(--error-color);
}

.delete__btn:hover {
  background-color: var(--error-color);
  color: var(--d-200);
}

/* BUTTON TOOLTIP */

li .edit__btn::after,
li .delete__btn::after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;

  top: -50%;
  transform: scale(0.3);
  opacity: 0;
}

li .edit__btn:hover::after,
li .delete__btn:hover::after {
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease;

  top: -80%;
}

li .edit__btn:hover::after {
  color: var(--p3-hover);
  left: 10%;
}

li .delete__btn:hover::after {
  color: var(--error-color);
  left: -15%;
}

/* TEXT FOR FINISHED TODO */

.todo.finished .todo-text {
  text-decoration: line-through;
}

.droppable {
  border: 2px solid white;
  background-color: var(--d-300);
}

/* STYLE FOR THE CHECKBOX */

input[type="checkbox"] {
  appearance: none;
  background-color: var(--d-200);
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  transition: box-shadow 0.5s;
  cursor: pointer;
  position: relative;
}

/* CHECKBOX COLOR PER PRIORITY FOR ACTIVE TODO */

input[type="checkbox"].p1 {
  border: 2px solid var(--p1);
}

input[type="checkbox"].p2 {
  border: 2px solid var(--p2);
}

input[type="checkbox"].p3 {
  border: 2px solid var(--p3);
}

input[type="checkbox"].p4 {
  border: 2px solid var(--p4);
}

/* CHECKBOX COLOR PER PRIORITY FOR FINISHED TODO */

input[type="checkbox"]:checked.p1 {
  box-shadow: inset 0 0 0 0.5rem var(--p1);
  border-color: var(--p1);
  color: var(--p1);
}

input[type="checkbox"]:checked.p2 {
  box-shadow: inset 0 0 0 0.5rem var(--p2);
  border-color: var(--p2);
  color: var(--p2);
}

input[type="checkbox"]:checked.p3 {
  box-shadow: inset 0 0 0 0.5rem var(--p3);
  border-color: var(--p3);
  color: var(--p3);
}

input[type="checkbox"]:checked.p4 {
  box-shadow: inset 0 0 0 0.5rem var(--p4);
  border-color: var(--p4);
  color: var(--p4);
}

input[type="checkbox"]:hover.p1 {
  border-color: var(--p1-hover);
  color: var(--p1);
}

input[type="checkbox"]:hover.p2 {
  border-color: var(--p2-hover);
  color: var(--p2);
}

input[type="checkbox"]:hover.p3 {
  border-color: var(--p3-hover);
  color: var(--p3);
}

input[type="checkbox"]:hover.p4 {
  border-color: var(--p4-hover);
  color: var(--p4);
}

input[type="checkbox"]:hover::before {
  position: absolute;
  font-size: 0.9rem;
  left: 4px;
  top: -2.5px;
}

/* CHECK MARK WHEN ACTIVE TODO HOVERED */

input[type="checkbox"]:not(:checked):hover::before {
  content: "\2713";
}

/* X MARK WHEN FINISHED TODO HOVERED */

input[type="checkbox"]:checked:hover::before {
  content: "\2717";
}

input[type="checkbox"]:checked:hover {
  box-shadow: inset 0 0 0 0.5rem var(--d-200);
}

.todo-enter {
  opacity: 0;
}
.todo-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.todo-exit {
  opacity: 0;
}
.todo-exit-active {
  transition-duration: 0ms;
}

.badge {
  position: absolute;
  width: fit-content;
  right: -10px;
  top: -70px;
  padding: 0.8rem 1.4rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 120%;
  color: var(--primary-color);
  background-color: var(--d-200);
}
