html {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.theme {
  background-color: var(--d-100);
  color: var(--primary-color);
  min-height: 100vh;
  height: 100%;
  padding: 0rem 0 0.2rem;
}

.default-layout {
  width: 95%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1.2rem;
  background-color: var(--d-200);
  border-radius: var(--border-radius-10);
  box-shadow: var(--box-shadow);
}

button {
  background-color: var(--interactive-color);
}

button:hover {
  background-color: var(--interactive-color-hover);
}

button:active {
  background-color: var(--interactive-color-active);
}

button:disabled,
button:disabled:hover {
  background-color: var(--d-300);
  color: black;
  border: none;
  cursor: not-allowed;
}

.theme-btn-container {
  max-width: 40rem;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
}

.theme-btn {
  border: none;
  padding: 0.4rem 0.8rem;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 2px;
  right: -3px;
  padding: 0;
  position: absolute;
}

.fa {
  transform: scale(1.4);
}

:root {
  --d-100: #212121;
  --d-200: #3e525b;
  --d-300: rgb(99, 130, 146);
  --d-400: rgb(150, 171, 181);

  --primary-color: #ffffff;
  --secondary-color: #eceff1;
  --interactive-color: rgb(0, 144, 240);
  --interactive-color-hover: #24a7ff;
  --interactive-color-active: #0071bd;
  --disabled-color: #cfd8dc;
  --error-color: #ff9e9e;
  --overdue-todos-heading: #ff925f;
  --active-todos-heading: #03dac5;
  --finished-todos-heading: rgb(187, 134, 252);
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  --border-radius-10: 10px;

  --p1: #f797af;
  --p1-hover: hsl(345, 86%, 68%);
  --p2: #16ca49;
  --p2-hover: hsl(137, 80%, 34%);
  --p3: #ffa12e;
  --p3-hover: hsl(33, 100%, 49%);
  --p4: #96acb6;
  --p4-hover: hsl(199, 18%, 55%);
}

.light {
  --d-100: rgb(235, 235, 235);
  --d-200: rgb(239, 239, 239);
  --d-300: rgb(99, 130, 146);
  --d-400: rgb(150, 171, 181);

  --primary-color: #212121;
  --secondary-color: #3e525b;
  --interactive-color: hsl(204, 100%, 47%);
  --interactive-color-hover: #24a7ff;
  --interactive-color-active: hsl(204, 100%, 57%);
  --disabled-color: #cfd8dc;
  --error-color: hsl(0, 100%, 71%);
  --overdue-todos-heading: hsl(19, 100%, 59%);
  --active-todos-heading: hsl(174, 97%, 33%);
  --finished-todos-heading: hsl(267, 95%, 66%);

  --p1: hsl(345, 76%, 58%);
  --p1-hover: hsl(345, 76%, 48%);
  --p2: hsl(137, 80%, 44%);
  --p2-hover: hsl(137, 80%, 34%);
  --p3: hsl(33, 90%, 49%);
  --p3-hover: hsl(33, 90%, 59%);
  --p4: hsl(199, 18%, 65%);
  --p4-hover: hsl(199, 18%, 55%);
}

@media (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }

  .theme-btn {
    width: 40px;
    height: 40px;
  }
}
